.section-card {
    background: #FFFFFF;
    border: 1px solid #DBDAE1;
    border-radius: 12px;
}

.overview__body {
    display: flex;
    margin: 50px;
}


.overview {
    margin: 50px;
    border: 1px solid #DBDAE1;
    border-radius: 22px;
    overflow: hidden;

}

.overview__header {
    display: flex;
    justify-content: space-between;
    background-color: #EEF7FF;
    padding:50px;
}