.dismissable-card {
  transform: none;
  will-change: transform;
  transition: transform 0.4s cubic-bezier(0, 0, 0.3, 1);

  &--translate {
    transform: translateX(120%);
    transition: transform 0.4s cubic-bezier(0, 0, 0.3, 1);
  }
}
