@use 'openaq-design-system/scss/variables';
@use 'openaq-design-system/scss/mixins/index.scss' as mixins;
@use 'openaq-design-system/scss/header';
@use 'openaq-design-system/scss/buttons';
@use 'openaq-design-system/scss/utilities';
@use 'openaq-design-system/scss/inputs';
@use 'openaq-design-system/scss/horizontal-rule';

html body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.gradient-title {
  background-color: variables.$lavender100;
  background-image: linear-gradient(
    92deg,
    variables.$sky120 0%,
    variables.$lavender100 10%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

::backdrop {
  background-color: variables.$smoke180;
  opacity: 0.75;
}

.modal {
  width: 600px;
  border: none;
  border-radius: 20px;
  padding: 0;
  box-shadow: 0px 7px 20px 0px #00000026;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: variables.$lavender120;

    h2 {
      margin: 0;
      color: white;
    }
  }

  &__body {
    padding: 30px;
  }

  &__footer {
    display: flex;
    justify-content: end;
    gap: 8px;
    padding: 20px;
    border-top: 1px solid variables.$ocean10;
  }
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0;
  gap: 12px;

  .login-form {
    width: 360px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    .form-element {
      display: flex;
      flex-direction: column;
      margin: 9px 0;
      gap: 8px;
    }

    .form-element-row {
      display: flex;
      margin: 9px 0;
      gap: 8px;
    }
  }
}

.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0;
  gap: 16px;

  .register-form {
    width: 360px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    .form-element {
      display: flex;
      flex-direction: column;
      margin: 9px 0;
      gap: 8px;
    }

    .form-element-row {
      display: flex;
      margin: 9px 0;
      gap: 8px;
    }
  }
}

.button-reset {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.maplibregl-ctrl-top-left {
  width: 50% !important;
}

.maplibregl-ctrl-geocoder {
  width: 100% !important;
  max-width: 500px !important;
  border-radius: 14px !important;
}

.maplibregl-ctrl-geocoder--input::placeholder {
  @include mixins.body2;
}

.maplibregl-ctrl-geocoder--icon-search {
  right: 12px !important;
}

@media screen and (min-width: 640px) {
  .maplibregl-ctrl-geocoder--icon-search {
    right: 12px !important;
  }
}

@media (max-width: 1000px) {
  .maplibregl-ctrl-top-left {
    width: 95% !important;
  }

  .maplibregl-ctrl-bottom-left {
    margin: 0 0 80px 0;
  }
  .maplibregl-ctrl-bottom-right {
    margin: 0 0 80px 0;
  }
}
