@use 'openaq-design-system/scss/bubbles' as bubbles;

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 70px 0 0 0;
  height: calc(100vh - 150px);

  .bubble-lg {
    z-index: -1;
    position: absolute;
    left: -100px;
    top: 30px;
  }

  .bubble-sm {
    z-index: -1;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.form-element {
  display: flex;
  flex-direction: column;
  margin: 9px 0;
  gap: 8px;
}
