@use 'openaq-design-system/scss/mixins/index' as mixins;
@use 'openaq-design-system/scss/variables';

.error-message {
  @include mixins.body3(variables.$smoke120);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.info-message {
  @include mixins.body3(variables.$sky120);
  max-width: 500px;
  margin: 0 15px;
}
