@use 'openaq-design-system/scss/mixins/index' as mixins;
@use 'openaq-design-system/scss/variables';

.error-message {
  @include mixins.body3(variables.$smoke120);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
