@use 'openaq-design-system/scss/mixins/index' as mixins;

.close-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.title {
  @include mixins.heading3(white);

  display: flex;
  align-items: center;
  gap: 8px;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
