@use '../../assets/scss/media-queries.scss' as f;

.main {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include f.respond(medium) {
    margin: 30px 0px;
  }
  @include f.respond(small) {
    margin: 30px 0px;
  }
}
