@use 'openaq-design-system/scss/buttons';
@use 'openaq-design-system/scss/variables';
@use 'openaq-design-system/scss/inputs';

.account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0 0 0;
  gap: 24px;
  position: relative;
  overflow-y: hidden;
  min-height: calc(100vh + 300px);

  h1 {
    text-align: center;
  }

  &__section {
    width: 100%;
    max-width: 600px;
    display: flex;
    gap: 12px;
    flex-direction: column;

    @media (max-width: 630px) {
      width: calc(100% - 40px);
      max-width: none;
      padding: 0 20px;
      h2 {
        text-align: left;
        width: 100%;
      }
    }
    
    .form-element {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
    
      input {
        width: 100%;
        max-width: 500px; 
        padding: 8px;
        box-sizing: border-box;
    
        @media (max-width: 600px) {
          width: 100%;
          padding: 8px;
        }
      }

      button {
        align-self: flex-start;
      }
    }
  }
}

.delete-btn {
  @extend .btn;
  background-color: variables.$fire100;
  color: white;
}

.api-key-buttons {
  display: flex;
  gap: 12px;
}

.change-password-buttons {
  display: flex;
  gap: 12px;
}
