@use 'openaq-design-system/scss/buttons';
@use 'openaq-design-system/scss/variables';
@use 'openaq-design-system/scss/inputs';

.account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0 0 0;
  gap: 24px;
  position: relative;
  overflow-y: hidden;
  min-height: calc(100vh + 200px);

  &__section {
    width: 600px;
    display: flex;
    gap: 12px;
    flex-direction: column;

    .form-element {
      display: flex;
      flex-direction: column;
      margin: 9px 0;
      gap: 8px;

      input {
        width: 80%;
      }

      button {
        align-self: flex-start;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}

.delete-btn {
  @extend .btn;
  background-color: variables.$fire100;
  color: white;
}

.api-key-buttons {
  display: flex;
  gap: 12px;
}

.change-password-buttons {
  display: flex;
  gap: 12px;
}
