@use '~/assets/scss/media-queries.scss' as f;

.map-container {
  height: calc(100vh - 80px);
  position: relative;

  @include f.respond(medium) {
    height: calc(100vh - 60px);
  }

  .map {
    height: 100%;
  }
}
