@use '~/assets/scss/media-queries.scss' as f;
@use 'openaq-design-system/scss/variables';

.location-main {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include f.respond(medium) {
    margin: 30px 0px;
  }

  @include f.respond(small) {
    margin: 30px 0px;
  }

  .breadcrumb-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .getting-started-section {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .getting-started-link {
        color: variables.$smoke120;
        text-decoration: none;
        font-weight: 500;
        font-size: 0.875rem;

        &:hover {
          text-decoration: underline;
        }
      }

      .info-icon {
        width: 20px;
        height: 20px;
        margin-right: 3px;

        svg {
          width: 100%;
          height: 100%;
        }

        path {
          stroke: variables.$smoke120;
        }
      }
    }
  }
}