@use '~/assets/scss/media-queries.scss' as f;
@use 'openaq-design-system/scss/variables';

.location-main {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include f.respond(medium) {
    margin: 30px 0px;
  }
  @include f.respond(small) {
    margin: 30px 0px;
  }

  .getting-started-section {
    margin-top: 1rem;
    text-align: center;
  
    .getting-started-link {
      color: variables.$sky100;
      text-decoration: none;
      font-weight: 500;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
}
