@use 'openaq-design-system/scss/bubbles' as bubbles;

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0;

  .bubble-lg {
    z-index: -1;
    position: absolute;
    left: -100px;
    top: 30px;
  }

  .bubble-sm {
    z-index: -1;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
