.toast {
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100px;
  width: 200px;
  background-color: white;
  box-shadow: 0 7px 20px #00000026;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);

  &--translate {
    transform: translate(-50%, 120%);
    transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  }
}
