@use 'openaq-design-system/scss/variables';

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 2rem;
    max-width: 900px;
    width: 100%;
    @media (max-width: 950px) {
        
    }

    h1, h2 {
        margin: 0 auto;
        text-align: center;
    }

    ul {
        margin-top: 0.5rem;
        padding-left: 1.5rem;
        list-style-type: none;

        .warning-icon path {
            stroke: variables.$sky100;
        }
    }

    a {
        color: variables.$sky100;
    }

    .guide-step {
        margin-bottom: 3rem;
        padding-top: 2rem;

        .guide-container {
            display: flex;
            gap: 10px;
            justify-content: flex-start;

            @media (max-width: 950px) {
                flex-direction: column;
            }


            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -1rem;
                width: 0.5rem;
                height: 100%;
                background-color: #6a3dff;
                border-radius: 5px;
            }


            p {
                font-size: 1rem;
                margin-bottom: 1rem;
                line-height: 1.6;
            }


            .step-list {
                flex: 1;
                counter-reset: step;
                list-style: none;
                padding: 0;

                li {
                    counter-increment: step;
                    margin-bottom: 1rem;
                    padding-left: 2.5rem;
                    position: relative;

                    &::before {
                        content: counter(step);
                        position: absolute;
                        left: 0;
                        top: 0.1rem;
                        width: 2rem;
                        height: 2rem;
                        background-color: black;
                        color: #fff;
                        font-weight: bold;
                        font-size: 1rem;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    ul {
                        margin-top: 0.5rem;
                        padding-left: 1.5rem;
                        list-style-type: none;


                        li {
                            padding-left: 0;

                            &::before {
                                content: none;
                            }
                        }
                    }

                    a.link {
                        color: variables.$sky100;
                        text-decoration: underline;
                    }
                }
            }

            
      .image-container {
        flex-shrink: 0;
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
  
        img {
          max-width: 100%;
          box-shadow: 0 8px 5px 5px rgb(83, 83, 83, 0.25);
          border-radius: 1px;
        }
    
        .arrow-container {
            position: absolute;
            top: 39%;
            left: 60%;
            @media (max-width: 950px) {
                top: 80%;
                left: 57%;
            }
            @media (max-width: 450px) {
                top: 78%;
                left: 63%;
            }
        }
          
        .button-img {
            box-shadow: none;
            align-self: center;
            margin-top: 20px;
        }
        @media (max-width: 950px) {
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
        }
        }
      }
    }
}