@use 'openaq-design-system/scss/variables';
@use '~/assets/scss/media-queries.scss' as f;
@use 'openaq-design-system/scss/mixins/index' as mixins;

.detail-overview {
  border: 1px solid variables.$smoke30;
  border-radius: 22px;
  overflow: hidden;

  &__title {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    background-color: variables.$sky10;
    padding: 50px 25px 50px 25px;

    @include f.respond(medium) {
      min-height: 100px;
      padding: 50px 25px 0 25px;
    }
    @include f.respond(small) {
      min-height: 100px;
      padding: 50px 25px 0 25px;
    }

    .title-container {
      min-width: 70%;

      h1 {
        overflow-wrap: break-word;
      }
    }

    .button-container {
      min-width: 180px;

      @include f.respond(medium) {
        min-width: 0;
      }
      @include f.respond(small) {
        min-width: 0;
      }
    }

    .download-anchor {
      min-width: auto;
    }
  }

  &__body {
    display: flex;

    @include f.respond(medium) {
      flex-direction: column;
    }
    @include f.respond(small) {
      flex-direction: column;
    }
  }
}

.location-map {
  padding: 50px;
  flex: 1;

  .location-map__container {
    border-radius: 12px;
    border: 1px solid variables.$smoke30;
  }

  @include f.respond(medium) {
    padding: 20px;
  }
  @include f.respond(small) {
    padding: 20px;
  }
}

.location-characteristics {
  padding: 50px;
  flex: 1;

  h2 {
    @include mixins.subtitle3(variables.$smoke180);
    text-transform: uppercase;
  }
}

.location-lists {
  padding: 50px;
  flex: 1;

  h2 {
    @include mixins.subtitle3(variables.$smoke180);
    text-transform: uppercase;
  }
}

.divider {
  width: 0px;
  border-left: 1px dashed variables.$smoke30;
  float: left;
}

.characteristics-table {
  margin-top: 24px;
  tbody {
    tr {
      td:nth-child(1) {
        @include mixins.body1(variables.$smoke120);
        padding: 0 32px 16px 0;
      }

      td:nth-child(2) {
        @include mixins.body2(variables.$smoke120);
        max-width: 50%;
        padding: 0 0 16px 0;
      }
    }
  }
}

.location-type {
  display: flex;
  align-items: center;
}

.download-anchor {  
  fill: variables.$ocean120;

  @include f.respond(medium) {
    display: none;
  }
  @include f.respond(small) {
    display: none;
  }
}

.lists-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
}

.list-link {
  text-decoration: inherit;
  color: inherit;
}

.location-list-form {
  display: none;

  &--open {
    display: flex;
  }
}

