@use 'openaq-design-system/scss/mixins/index' as mixins;
@use '~/assets/scss/media-queries.scss' as f;
@use 'openaq-design-system/scss/variables' as variables;


.map-container {
  .map {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .mapboxgl-ctrl-top-left {
    width: 50% !important;
  }

  .mapboxgl-ctrl-geocoder {
    width: 100% !important;
    max-width: 500px !important;
    border-radius: 14px !important;
  }

  .mapboxgl-ctrl-geocoder--input::placeholder {
    @include mixins.body2;
  }

  .mapboxgl-ctrl-geocoder--icon-search {
    right: 12px !important;
  }

  .maplibregl-ctrl-top-left {
    width: 50% !important;
  }

  .maplibregl-ctrl-geocoder {
    width: 100% !important;
    max-width: 500px !important;
    border-radius: 14px !important;
  }

  .maplibregl-ctrl-geocoder--input::placeholder {
    @include mixins.body2;
  }

  .maplibregl-ctrl-geocoder--icon-search {
    right: 12px !important;
  }

  @media screen and (min-width: 640px) {
    .maplibregl-ctrl-geocoder--icon-search {
      right: 12px !important;
    }
  }

  @media (max-width: 1000px) {
    .maplibregl-ctrl-top-left {
      width: 95% !important;
    }

    .maplibregl-ctrl-bottom-left {
      margin: 0 0 80px 0;
    }
    .maplibregl-ctrl-bottom-right {
      margin: 0 0 80px 0;
    }
  }
  .getting-started-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 22px; 
    right: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.479);
    padding: 2px 5px;
    font-size: 0.75rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    
    @media (max-width: 1000px) {
      bottom: 0;
    }

    .info-icon {
      width: 16px;
      height: 16px;
      margin-right: 4px;

      svg {
        width: 100%;
        height: 100%;
      }
        path {
          stroke: variables.$smoke120;
      }
    }
  
    a {
      color: variables.$smoke120;
      text-decoration: none;
      font-weight: 500;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
