@use 'openaq-design-system/scss/mixins/index' as mixins;
@use 'openaq-design-system/scss/variables';

.overlay-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  background-color: white;
  height: calc(100vh - 80px - 80px);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 7px 20px #00000026;

  &__footer {
    border-top: 1px solid #e8ebed;
    padding: 24px 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  &__header {
    background: variables.$sky120;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .card-title {
      display: flex;
      gap: 8px;
      h3 {
        @include mixins.heading3(white);
      }
    }
  }

  .pollutant-select {
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .pollutant-label-wrapper {
    display: flex;
   gap: 8px;
    align-items: center;
  }

  .pollutant-label-wrapper span {
    display: flex;
    align-items: center;
  }

  &__body {
    width: 250px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 1fr;
    row-gap: 8px;
    margin: 16px;

    .marker-legend-item {
      display: grid;
      grid-template-columns: 6fr 1fr;
      align-items: center;
    }
  }
}
