@use 'openaq-design-system/scss/variables';

.password-strength {

  .strength-meter-container {
    display: flex;

    .strength-meter {
      width: 150px;
      height: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      border-radius: 6px;
      overflow: hidden;

      &__bar {
        border: 0.5px solid white;
        background-color: #eee;

        &--ok {
          background-color: variables.$mantis100;
        }

        &--alert {
          background-color: variables.$corn100;
        }

        &--warning {
          background-color: variables.$fire100;
        }
      }
    }
  }

  .strength-message {
    display: flex;
    align-items: center;
    gap: 8px;
  }

}
