@use 'openaq-design-system/scss/mixins/index' as mixins;
@use 'openaq-design-system/scss/variables';

.projects-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 280px;
  background-color: white;
  height: calc(100vh - 80px - 80px);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 7px 20px #00000026;

  &__header {
    min-height: 50px;
    display: flex;
    gap: 8px;
    align-items: center;
    background: variables.$sky120;
    padding: 0 20px;

    img {
      cursor: pointer;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    height: 100%;

    .list-header {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .select-helpers {
        display: flex;
        gap: 8px;
        padding: 10px 0;
      }
    }
    .zoom-to-provider-btn {
      display: flex;
      align-items: center;
      gap: 5px;
      margin: 5px 0 5px 0;
    }

    .list-container {
      overflow-y: scroll;
      width: 100%;

      .projects-list {
        margin: 0;
        padding: 0 20px;
        list-style: none;
        &-item {
          text-align: left;
          display: flex;
          justify-content: space-between;
          padding: 12px 10px;
        }
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-top: 1px solid #e8ebed;
    min-height: 107px;
    padding: 15px 0;

    button {
      width: 90%;
    }
  }

  .button-reset:focus {
    outline: 1px auto;
    outline: -webkit-focus-ring-color;
    outline: -webkit-focus-ring-color auto 5px;
  }
}