@use 'openaq-design-system/scss/mixins/index' as mixins;
@use 'openaq-design-system/scss/variables';

.providers-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 280px;
  background-color: white;
  height: calc(100vh - 80px - 80px);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 7px 20px #00000026;

  &__header {
    min-height: 50px;
    display: flex;
    gap: 8px;
    align-items: center;
    background: variables.$sky120;
    padding: 0 20px;

    img {
      cursor: pointer;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    height: 100%;

    .list-header {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .select-helpers {
        display: flex;
        gap: 8px;
        padding: 10px 0;

        .search-input {
          font-family: 'Space Grotesk', sans-serif;
          font-style: normal;
          margin: 0;
          color: #30363c;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-decoration: none;
          font-weight: 500;
          font-size: 14px;
          padding: 8px 20px;
          border: 1px solid #d4d8dd;
          border-radius: 14px;
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%235A6672'><path d='M0 0h24v24H0V0z' fill='none'/><path d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/></svg>");
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: calc(100% - 22px) center;
        } 
      }
    }
    .zoom-to-provider-btn {
      display: flex;
      align-items: center;
      gap: 5px;
      margin: 5px 0 5px 0;
    }

    .list-container {
      overflow-y: scroll;
      width: 100%;

      .providers-list {
        margin: 0;
        padding: 0 20px;
        list-style: none;
        &-item {
          text-align: left;
          display: flex;
          justify-content: space-between;
          padding: 12px 10px;
        }
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #e8ebed;
    min-height: 76px;

    button {
      width: 90%;
    }
  }
}
