@import 'typography';

.badge {
  @include subtitle3;
  height: 24px;
  border-radius: 10px;
  padding: 0 10px;
  display: flex;

  &--active {
    background-color: #89c053;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    * {
      color: white;
    }
  }
}
