@use 'openaq-design-system/scss/mixins/index' as mixins;
@use 'openaq-design-system/scss/variables' as variables;

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 10px 0 30px 50px;

  &-explore {
    @include mixins.link3;
    color: variables.$sky120;
  }

  &-current-page {
    @include mixins.body3;
    color: variables.$sky120;
  }
}
