@use 'openaq-design-system/scss/mixins/index' as mixins;

@mixin card {
  width: 300px;
  background: #ffffff;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 16px;
}

.card {
  @include card;
}

.dismissable-card {
  @include card;
  transform: none;
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);

  &--translate {
    transform: translateX(120%);
    transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  }
}

.explore-card {
  width: 300px;
  position: absolute;
  top: 100px;
  right: 48px;
}

.map-card {
  background-color: white;
  height: calc(100vh - 80px - 80px);

  &__header {
    @include mixins.heading3;
    height: 58px;
    background: #1e64ab;
    padding: 0 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .map-card-title {
      margin: 0;
      font-style: normal;
    }
  }

  &__body {
    height: calc(100% - 58px - 76px);
    overflow-y: auto;

    .map-card-section {
      padding: 20px;
    }
  }

  &__footer {
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #d4d8dd;
    background-color: white;

    .update-providers-btn {
      width: 90%;
    }
  }
}

.filters-section {
  padding: 0 0 15px 0;

  &__body {
    width: 250px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 1fr;
    row-gap: 8px;
    .marker-legend-item {
      display: grid;
      grid-template-columns: 6fr 1fr;
    }
  }
}

.provider-card-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
