@use 'openaq-design-system/scss/variables' as variables;
@use 'openaq-design-system/scss/mixins/index' as mixins;

.chart-help {
  @include mixins.link2;
  color: variables.$smoke120;
  cursor: pointer;
}

.chart-grid {
  .tick {
    stroke-width: 1px;
    stroke-dasharray: 4 1;
  }
}

.aqi-chart-line {
  stroke: variables.$smoke60;
  fill: none;
  stroke-width: 6;
}

.aqi-good-chart-point {
  fill: variables.$us-epa-green;
}
.aqi-moderate-chart-point {
  fill: variables.$us-epa-yellow;
}
.aqi-sensitive-chart-point {
  fill: variables.$us-epa-orange;
}

.aqi-unhealthy-chart-point {
  fill: variables.$us-epa-red;
}

.aqi-very-unhealthy-chart-point {
  fill: variables.$us-epa-purple;
}

.aqi-hazardous-chart-point {
  fill: variables.$us-epa-maroon;
}

.box-plot-bar {
  cursor: pointer;
}
