.flip-card {
  background-color: transparent;
  perspective: 3000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  text-align: center;
}

.flip-card--active .flip-card-inner {
  transform: rotateY(180deg);

  .flip-card-front {
    pointer-events: none;
  }
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
}
