@use 'openaq-design-system/scss/mixins/index' as mixins;

.help-panel {
  padding: 16px;

  hr {
    border-top: 1px dashed #d4d8dd;
  }

  h1 h2 h3 h4 {
    @include mixins.subtitle3;
  }

  p {
    @include mixins.body1;
    margin: 10px 0;
  }

  ul {
    li {
      @include mixins.body1;
    }
  }
}
