@use 'openaq-design-system/scss/mixins/index' as mixins;
@use 'openaq-design-system/scss/variables' as variables;
@import 'utils';

.section-card {
  background: #ffffff;
  border: 1px solid #dbdae1;
  border-radius: 12px;
  @include mixins.body2;
  color: variables.$smoke120;
}

.detail-card {
  background: #ffffff;
  border: 1px solid #dbdae1;
  border-radius: 12px;
  margin: 50px;

  &__section {
    border-bottom: 1px dashed #dbdae1;
    padding: 50px;
  }
}

.overview__body {
  display: flex;
  margin: 50px;
}

.overview {
  margin: 50px;
  border: 1px solid #dbdae1;
  border-radius: 22px;
  overflow: hidden;
}

.overview__header {
  display: flex;
  justify-content: space-between;
  background-color: #eef7ff;
  padding: 50px;
}

.location-detail-title {
  @include mixins.display1;
  margin: 0;
  color: #636c77;
}

.location-breadcrumb {
  @include mixins.subtitle3;
  color: #636c77;
}

.detail-section-title {
  font-weight: 700;
  font-size: 32px;
  color: #636c77;
  margin: 0;
}

.detail-charts {
  background: #ffffff;
  border: 1px solid #dbdae1;
  border-radius: 12px;
  margin: 50px;
  overflow: hidden;

  &__section {
    border-bottom: 1px dashed #dbdae1;
    padding: 0 50px;
  }
}
