@use 'openaq-design-system/scss/variables' as variables;
@use 'openaq-design-system/scss/mixins/index' as mixins;

@import 'cards';

.expandable-card {
  @include card;
  position: absolute;
  transform: none;
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  margin: 0 0 8px 0;

  &--translate {
    transform: translateX(120%);
    transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  }

  &__header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: variables.$sky120;
    padding: 0 20px;
    cursor: pointer;
  }

  &__body {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    &--open {
      max-height: calc(100vh - 80px - 16px - 100px);
      overflow-y: scroll;
      transition: max-height 0.5s ease-in;
    }
  }

  &__footer {
    border-top: 1px solid variables.$smoke10;
    padding: 24px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.accordion {
  &__header {
    @include mixins.subtitle3;
    background-color: variables.$sky10;
    color: #636c77;
    height: 44px;
    border-bottom: 2px solid #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0 20px;

    &--open {
      background: variables.$sky100;
      color: white;
    }

    &-title {
      font-size: 14px;
      margin: auto 0;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    transition: max-height 0.3s ease, margin 0.3s ease;

    &--open {
      max-height: 600px;
      margin: 12px 15px;
      overflow: hidden;
      transition: max-height 0.5s ease, margin 0.2s ease;
    }
  }
}

.location-detail-card {
  position: absolute;
  top: 100px;
  right: 48px;
  height: calc(100vh - 80px - 80px);
  z-index: 999;
  background: #ffffff;
  border: 6px solid variables.$ocean10;

  &--hidden {
    display: none;
  }

  &--active {
    display: block;
  }

  &__header {
    @include mixins.heading3;
    height: 57px;
    background: #1e64ab;
    padding: 0 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .location-detail-card-title {
      margin: 0;
      font-style: normal;
    }
  }

  &__body {
    max-height: 440px;
    overflow-y: auto;

    .location-detail-card-section {
      padding: 20px;
      border-bottom: 1px dashed #d0d5dd;
    }
  }

  &__footer {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  }
}

.loading-shimmer {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #fff;
  background: linear-gradient(
    to right,
    #f0f0f0 1%,
    #ffffff 18%,
    #f0f0f0 33%
  );
  background-size: 1200px 100%;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

.providers-list {
  list-style: none;
  padding: 0;

  &__item {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 12px 10px;

    .provider-name {
      @include mixins.body1;
    }
  }
}

.providers-list-subtitle {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .providers-list-select-all {
    cursor: pointer;
  }

  .providers-list-select-none {
    cursor: pointer;
  }

  .providers-list-count {
    @include mixins.body1;
    &__number {
      @include mixins.subtitle2;
    }
  }
}

.search-input-wrapper {
  position: relative;

  .search-input {
    width: 100%;
  }

  .search-icon {
    position: absolute;
  }
}

.parameter-label {
  display: inline-block;
}

.thresholds-controls {
  display: flex;
  align-items: center;

  &__item {
    flex: 1;
    display: inherit;
    justify-content: center;
  }
}
