@use 'openaq-design-system/scss/variables' as variables;

.map-legend {
  background: #ffffff;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  position: absolute;
  width: 400px;
  height: 90px;
  bottom: 36px;
  left: calc(50% - 200px);

  &__body {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

.map-legend-title {
  display: flex;
  gap: 10px;
}

.map-legend-section {
  margin: 6px 18px;

  .map-legend-bar {
    width: 297px;
    margin: 6px 0;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    height: 16px;
  }

  .map-legend-bar-labels {
    display: flex;
    justify-content: space-between;
    margin: 0 18px;
  }
}

.legend-help-section {
  display: flex;
  flex-direction: column;
  border-left: 1px dashed #e5e6eb;
  width: 66px;
  height: 100%;
  align-items: center;
  justify-content: center;

  span {
    padding: 4px;
  }
}

@media (max-width: 1000px) {
  .map-legend {
    position: absolute;
    border-radius: 0px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}
