@use 'openaq-design-system/scss/variables' as variables;
@use 'openaq-design-system/scss/mixins/index' as mixins;

.clickable-icon {
  cursor: pointer;
}

.white {
  color: white;
}
.grey {
  color: variables.$smoke120;
}

.green {
  color: variables.$ocean120;
}

.smoke120 {
  color: variables.$smoke120;
}

.body4 {
  @include mixins.body4;
}
