//colors

$sky120: #1e64ab;
$sky100: #198cff;
$sky60: #66b3ff;
$sky30: #b3d9ff;
$sky10: #eef7ff;

$lavender180: #241050;
$lavender120: #241050;
$lavender100: #6a5cd8;
$lavender80: #7867eb;
$lavender60: #8f81ee;
$lavender40: #a497fd;
$lavender30: #bcb2fe;
$lavender20: #cec7ff;
$lavender10: #dedafb;

$ocean120: #33a3a1;
$ocean100: #3fc2c0;
$ocean60: #85dbd9;
$ocean30: #b0e8e6;
$ocean10: #e6f8f8;

$mantis120: #669537;
$mantis100: #89c053;
$mantis60: #b2d78e;
$mantis30: #cbe8ca;
$mantis10: #e3f3e3;

$corn120: #ce9217;
$corn100: #f5b945;
$corn60: #fdcd56;
$corn30: #fee172;
$corn10: #fbf8f3;

$fire120: #6c6160;
$fire100: #dd443c;
$fire60: #f07973;
$fire30: #f5a7a3;
$fire10: #fbdcda;

$smoke180: #30363c;
$smoke120: #5a6672;
$smoke100: #7e8c9a;
$smoke60: #a9b0bb;
$smoke30: #d4d8dd;
$smoke10: #e8ebed;

$white: #ffffff;
