@use 'openaq-design-system/scss/variables' as variables;
@use 'openaq-design-system/scss/badges';
@use 'openaq-design-system/scss/buttons';
@use 'openaq-design-system/scss/inputs';
@use 'openaq-design-system/scss/resets';
@use 'openaq-design-system/scss/bubbles';
@use 'openaq-design-system/scss/utilities';
@use 'openaq-design-system/scss/mixins/index' as mixins;
@use 'openaq-design-system/scss/horizontal-rule';
@use 'location-detail-card';

@use 'flip-card';
@use 'breadcrumbs';
@use 'buttons' as *;
@import 'header';
@import 'map-card';
@import 'progress-bar';
@import 'tooltips';
@import 'map-legend';
@import 'line-chart';
@import 'location-detail';
@import 'help';
@import 'mapbox';
@import 'charts';
@import 'map';
@import 'detail-map';
@import 'utils';
@import 'markers';

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.header-section {
  display: flex;
}

.subtitle3 {
  @include mixins.subtitle3;
  margin: 0;
}

.text-white {
  color: white;
}

.page-404 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px - 250px);

  .bubble-lg {
    z-index: -1;
    position: absolute;
    left: -100px;
    top: 30px;
  }

  .bubble-sm {
    z-index: -1;

    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.date-input {
  height: 40px;
  width: 150px;
  border-radius: 14px;
  border: 1px solid #d0d5dd;
  padding: 0 20px;
  margin: 0 20px;
}

svg {
  text {
    font-family: 'Space Grotesk', sans-serif;
  }
}

.pointer {
  cursor: pointer;
}
