@use 'openaq-design-system/scss/variables';
@use 'openaq-design-system/scss/badges';
@use 'openaq-design-system/scss/buttons';
@use 'openaq-design-system/scss/inputs';
@use 'openaq-design-system/scss/resets';
@use 'openaq-design-system/scss/bubbles';
@use 'openaq-design-system/scss/utilities';
@use 'flip-card';
@use 'breadcrumbs';
@import 'header';
@import 'map-card';
@import 'progress-bar';
@import 'tooltips';
@import 'map-legend';
@import 'line-chart';
@import 'location-detail';
@import 'help';
@import 'mapbox';
@import 'charts';
@import 'typography';
@import 'map';
@import 'detail-map';
@import 'utils';
@import 'markers';

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.header-section {
  display: flex;
}

.subtitle3 {
  @include subtitle3;
  margin: 0;
}

.text-white {
  color: white;
}

hr {
  margin: 0;
  border: 0;
  border-bottom: 1px dashed variables.$smoke30;
}
