@import 'header';
@import 'map-card';
@import 'badges';
@import 'progress-bar';
@import 'selects';
@import 'buttons';
@import 'tooltips';
@import 'map-legend';
@import 'line-chart';
@import 'location-detail';
@import 'help';
@import 'mapbox';
@import 'inputs';
@import 'charts';
@import 'typography';
@import 'variables';
@import 'map';
@import 'detail-map';
@import 'utils';
@import 'markers';

* {
  box-sizing: border-box;
}
.header-section {
  display: flex;
}

.subtitle3 {
  @include subtitle3;
  margin: 0;
}
